.page-header {
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  box-shadow: 1px 0 0 rgba(1, 1, 1, 0.2), inset 1px 0 0;
  text-align: center;
}

.page-header__logo {
  width: 102px;
  height: 83px;
}

.page-header__logo-wrapper {
  position: absolute;
  width: 102px;
  height: 83px;
  top: 100%;
  left: 40%;
}

@media (min-width: $tablet-width) {
  .page-header__logo-wrapper {
    position: absolute;
    width: 187px;
    height: 97px;
    top: 0;
    left: 50%;
    margin-left: -93.5px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo-wrapper {
    width: 188px;
    height: 96px;
    left: 47%;
    margin-left: -94px;
  }
}
